:root{
    --darkBlue:#2b4863;
    --midBlue: #38628a;
    --darkBege: #353535;
    --midBege: #d9d9d9;
    --lightBege: #ffffff;
}
.menuContainer{
    position: relative;
    display: flex;
    padding: 2%;
    justify-content: center;
}
.wardMenu{
    width: 30%;
}
.wardMenuUL{
    list-style-type: none;
}
.wardMenuUL button{
    width: 100%;
    padding: 2%;
    font-size: medium;
}

.container{
    width: 50%;
    background-color: darkcyan;
}
.container iframe{
    width: 90%;
}
.container div{
    justify-content: center;
    padding: 2%;
}
.card{
    display: none;
}
.show{
    display: block;
}